@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

.body-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.div-l {
    position: relative;
}

.div-l > video {
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
}

.content {
    position: absolute;
    top: 12rem;
    left: 6rem;
}

.f-line > h3 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

.s-line-f > h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-family: Rubik Glitch;
    letter-spacing: 5px;
}

.s-line-s > h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.card > .part-1,
.part-2 {
    display: flex;
    flex-direction: row;
}

.card-m {
    width: 20rem;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .body-container {
        width: 49rem;
    }

    .content {
        top: 8rem;
    }

    .f-line > h3 {
        font-size: 2rem;
    }

    .s-line-f > h1 {
        font-size: 4rem;
    }

    .s-line-s > h1 {
        font-size: 4rem;
    }
}
